@model KnowledgeBase.Logic.Dto.Resources.ResourceDto;
@{
	ViewData["Title"] = "SoftDelete";
}

<h2>creator</h2>

@using (Html.BeginForm("Delete", "Resource", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<div>
		@Model.Name || @Model.Description || @Model.Category
	</div>
	<div>
		<input type="submit" value="Submit" />
		<input type="submit" asp-action="Index"  value="Discard" />
	</div>
}