@model IEnumerable<KnowledgeBase.Data.Models.Resource>
 
@{
	ViewData["Title"] = "Index";
}

@foreach (var item in Model)
{
	<div>
		@item.Id
		@item.Name
		<a asp-action="Edit" asp-route-id="@item.Id">edit</a>
		<a asp-action="Delete" asp-route-id="@item.Id">delete</a>
	</div>
}