@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a asp-controller="User" asp-action="Index">Manage users</a> |
<a asp-controller="Project" asp-action="Index">Manage projects</a> |
<a asp-controller="Resource" asp-action="Index">Manage resources</a>
