<div class="py-4">
    <div class="container">
        <div class="row hidden-md-up">
            <div class="col-md-4">
                <a asp-controller="Project" asp-action="List" class="card">
                    <div class="card-body">
                        Projects
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a asp-controller="Resource" asp-action="Index" class="card">
                    <div class="card-body">
                        Resources
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a asp-action="AdminPanel" class="card">
                    <div class="card-body">
                        Admin Panel
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a asp-controller="Request" asp-action="Index" class="card">
                    <div class="card-body">
                        User requests
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>