<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  InternalLogFile="C:\temp\internal-nlog-AspNetCore.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<variable name="logDirectory" value="logs/${shortdate}"/>

		<target name="file1" xsi:type="File" fileName="${logDirectory}/logfile1.txt"/>
		
		<target 
			name="bazadanych" 
			type="Database" 
			dbProvider="System.Data.SqlClient">
		
			<connectionString>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=C:\USERS\PIECZ\DOCUMENTS\DATABASETESTS.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</connectionString>
			
		
			<commandText>insert into NLog ([TimeStamp],[Level],Logger, [Message], Callsite, Exception) 
        values (@TimeStamp, @Level, @Logger, @Message, @Callsite, @Exception); </commandText>
		
			<parameter name="@TimeStamp" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		  </target>
		
	</targets>
	
    <rules>
		<logger name="*" minlevel="Trace" writeTo="bazadanych" />
		
		<logger name="System.*" maxlevel="Info" final="true" />
		
		<logger name="Microsoft.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Trace" writeTo="file1" />
	</rules>
  
  </nlog>
