html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
/*
th {
    text-align: center;
    border: 1px solid black;
}

td {
    padding: 15px;
    border:1px solid black;
}
*/