@using KnowledgeBase.Logic.Dto;
@{
    List<Guid> selectedUsers = Model;
}

@using (Html.BeginForm("AssignUsers", "Project", new {id = ViewBag.ProjectId} , FormMethod.Post))
{
    @foreach(UserDto user in ViewBag.Users)
    {
        <input type="checkbox" name="selectedUsers" value="@user.Id"/>
        <label>@user.FirstName</label> <label>@user.LastName</label>
    }

    <input type="submit"/>
}
