@model KnowledgeBase.Data.Models.Project;
@{
	<form asp-action="Create">
		<div>
			<label asp-for=Name></label>
			<input asp-for=Name />
			<span asp-validation-for="Name"></span>
		</div>
		<div>
			<input type="submit" value="send" />
		</div>
	</form>
}
