@model KnowledgeBase.Logic.Dto.ProjectDto;

@using (Html.BeginForm("Create", "Project", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(project => project.Name)
        @Html.EditorFor(project => project.Name)
        @Html.ValidationMessageFor(project => project.Name)
    </div>
    <div>
        <input type="submit" value="Save"/>
    </div>
}