@using KnowledgeBase.Data.Models;
@model KnowledgeBase.Data.Models.Project

@{
	Project project = Model;
}

@using (Html.BeginForm("Edit", "Project", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<div>
		@Html.LabelFor(project=>project.Name)
		@Html.EditorFor(project=>project.Name)
		@Html.ValidationMessageFor(project=>project.Name)
	</div>
	<div>
		<input type="submit" value="Save" />
	</div>
}