﻿@using KnowledgeBase.Logic.Dto.Project;
@model ProjectDto;
@{
}
@using (Html.BeginForm("FoundProjectByDate", "Project", FormMethod.Post))
{
    <h3>select a time frame for projects</h3>
<div>
        Start Date:<br/>
        <input type="date" name="startDate"/>
        <br/>
        <br />

        End Date:
        <br />
        <input type="date" name="endDate" />
        <br />
        <br />
        <a asp-route="FoundProject"><input type="submit" value="Save" /></a>
</div>
}
