@model KnowledgeBase.Logic.Dto.Project.ProjectSearchFilter;

@using (Html.BeginForm("FindProject", "Project", FormMethod.Post, new {@class = "form"}))
{
@Html.AntiForgeryToken()
<div>
    
    <div class="mb-3">
        <label class="form-label">Enter name, description on Onetag name</label><br />
         @Html.EditorFor(Model => Model.Name, new {@class = "form-control"})
         @Html.ValidationMessageFor(Model => Model.Name)
    </div>
       
    <div class="mb-3">
        <label class="form-label">Start date:</label>
        <input class="form-control" asp-for="DateFrom" asp-format="{0:yyyy-MM-dd}" />
    </div>

    <div class="mb-3">
        <label class="form-label">End Date:</label>
        <input class="form-control" asp-for="DateTo" />
    </div>
    <div class="mb-3">
        <label class="form-label"> Select the name of the tag(Multiple Possible):</label>
        <select class="form-select" asp-for="TagsId" asp-items="ViewBag.ItemsToSelect" multiple></select>
    </div>

        <a asp-route="FindProject" class="btn btn-primary"><input class="btn btn-primary" type="submit" value="Find Projects" /></a>
    </div>
}
