@model KnowledgeBase.Logic.Dto.Project.ProjectDto;
@{
}
@using (Html.BeginForm("FoundProject", "Project", FormMethod.Post))
{
@Html.AntiForgeryToken()
<div>
        Enter the string that contains the name
        @Html.EditorFor(Model => Model.Name)
        @Html.ValidationMessageFor(Model => Model.Name)
        <a asp-route="FoundProject"><input type="submit" value="Find" /></a>
    </div>
}
