<a asp-action="List">list</a>
<a asp-action="ListAll">list all</a>
<a asp-action="Create">create</a>
<a asp-action="CreateProjectsFromCsv">csv</a>
<a asp-controller="Swagger" asp-action="Index">Web API</a>