@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using KnowledgeBase.Logic.Dto
@{
    List<TagDto> tags = Model;
}
<div>
    <a asp-action="AddTags" asp-route-id="@ViewBag.projectId">Add tags to project</a>

    @foreach (TagDto tag in tags)
    {
        <div>@tag.Name</div>
    }
</div>
